#table-footer {
	width: 99%;
	border: 1px solid;
	padding: 1px;
	background-color: black;
	float: left;
}
#table-header {
	width: 99%;
	border: 1px solid;
	padding: 1px;
	background-color: black;
	float: left;
}