#subcatdropdrown, #search, #clear, #getitem, #additem, #go, #indiv, #category{
	display: inline-block;
}
#subcatdropdrown{
	margin: 0px 0px 0px 10px;
}
#filter-wrapper{
	height: 100%;
	width: 95%;
	margin-left: 2%;
}
