#getitem-header {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 37%;
	display: inline-block;
}

#back-getitem-button-wrapper {
	margin-left: 3%;
	padding-bottom: 2%;
	display: inline-block;
}
