#manage-user-wrapper {
	height: 100%;
	width: 100%;
}
#add-user-form-wrapper {
	height: 10%;
	width: 13%;
	border: 1px solid;
}
#add-user-header {
	text-align: center;
	border: 1px solid;
}
#reset-user-pass-wrapper {
	height: 10%;
	width: 18%;
	border: 1px solid;
}
#reset-user-pass-header {
	text-align: center;
	border: 1px solid;
}
#remove-user-wrapper {
	height: 10%;
	width: 18%;
	border: 1px solid;
}
#remove-user-header {
	text-align: center;
	border: 1px solid;
}
#remove-user-form {
	font-size: 11px;
}