#manage-user-wrapper {
	height: 100%;
	width: 100%;
}
#account-wrapper {
	background-color: #f8f9fa!important;
}
#add-user-form-wrapper {
	
	background-color: #f8f9fa!important;
}
#reset-user-pass-wrapper {
	background-color: #f8f9fa!important;
}
#account-details {
	height: 100%;
	width: 100%;
}
#account-image img{
	border: 1px solid;
	height: 100%;
	width: 100%;
}
#add-user-header, #reset-user-pass-header, #remove-user-header, #account-header {
	text-align: center;
}
#search-button, #search-button1, #add-button, #show_edit {
	font-size: 13px;
}
#reset-button {
	font-size: 15.5px;
}
#remove-button {
	font-size: 11px;
}
#user-table {
	height: 600px;
	width: 100%;
	overflow: auto;
}
.bg-form {
	background-color: #f8f9fa!important;
	/*background-color: #6c757d;*/
	height: 100%;
	width: 100%;
}
#user-table .table{
	border: 1.5px solid;
	background-color: #f8f9fa!important;
	padding: 20px;
 	box-shadow: 2px 2px 2px 2px #888888;
	border-radius: 1%;
}
.manage_user-table {
	margin: 5% 0% 0% 5%;
	float: left;
	width: 60%;
}

#account-bg-wrapper{
  	padding: 20px;
 	box-shadow: 2px 2px 2px 2px #888888;
 	margin: 7% 0% 0% 35%;
	width: 25%;
	float: left;
	border-radius: 3%;
}
#add-user-bg-wrapper{
	margin: 6.5% 0% 0% 7%;
	float: left;
	width: 20%;
  	padding: 20px;
 	box-shadow: 2px 2px 2px 2px #888888;
	border-radius: 3%;
}
#reset-user-pass-bg-wrapper{
	margin: 10% 0% 0% 5%;
	width: 26%;
	float: left;
	padding: 20px;
 	box-shadow: 2px 2px 2px 2px #888888;
	border-radius: 3%;
}
#remove-user-bg-wrapper{
	margin: 10% 0% 0% 5%;
	width: 26%;
	float: left;
	padding: 20px;
 	box-shadow: 2px 2px 2px 2px #888888;
	border-radius: 3%;
}


	